$view-height: 900px;

.money-tag {
	padding: 0 4px;
}
.slash {
	padding: 0 4px;
}

.slider {
	height: $view-height !important;
	min-width: 960px;
	ul.slides {
		height: 100%!important;
	}
	li {
		text-align: center;
		background: #fff;
		min-height: $view-height;
		img {
			width: 100%!important;
			height: initial!important;
		}
		&:before {
			content:'.';
			display: block;
			background: rgba(0,0,0,.25);
			width: 100%;
			height: $view-height;
			position: absolute;
		}
	}
}
.fixed {
	position: absolute;
	width: 100%;
	z-index: 899;
	top: 30%;
	.row {
		background: transparent;
	}
	.card {
		background: rgba(255,255,255,.5);
	}
}
.tool-bar {
	margin-bottom: 20px;
	.store {
		h2 {
			display: inherit;
			font-size: 1rem;
			line-height: 1rem;
			margin: 0;
			vertical-align: super;
			color: rgba(0,0,0,.7);
		}
	}
	i {
		color: rgba(0,0,0,.7);
		font-size: 2rem;
		padding: 0 0.75rem;
		cursor: pointer;
	}
}
.card-content {
	margin-bottom: 0px;
	h1 {
		color: #rgba(0,0,0,.7);
		font-weight: 900;
		font-size: 3rem;
	}
	.branding {
		height: 200px;
		line-height: 200px;
		margin-bottom: 0px;
		a {
			cursor: pointer;
			img {
				width: 100%;
				height: auto;
				vertical-align: middle;
			}
		}
	}
	.select-area {
		#buyer-name {
			height: 51px;
		}
	}
}
.check-area {
	text-align: center;
	margin-top: 40px;
	.btn-flat {
		height: 60px;
		line-height: 60px;
		width: 240px;
		-webkit-border-radius: 4px;
        border-radius: 4px;
		border: 1px solid #fff;
		color: #FFF;
		background: transparent;
		text-indent: 16px;
		letter-spacing: 16px;
		font-size: 1.4rem;
		&:hover {
			background: rgba(255,255,255,.4);
			color: rgba(0,0,0,.5);
		}
	}
}
.total-money {
	color: #dd2c00;
	font-size: 1.2rem;
}