@charset "UTF-8";

/*Footer 置底*/
html {
	height: 100%;
}
body {
	height: 100%;
	min-height: 100%;
	position: relative;
}
footer {
	position: absolute;
	bottom: 0;
}


/**/

article {
	margin: 80px 0;
}
.goiiz-login {
	overflow: auto;
}
.wording {
	text-align: center;
	margin-bottom: 40px;
	font-size: 2rem;
	color: rgba(242,147,23,.87);
}
.sub-wording {
	font-size: 1.5rem;
	color: rgba(0,0,0,.87);
	text-align: center;
	margin: 10px 0 30px;
}
.login-content,
.sign-content,
.reset-content {
	margin: 0 auto;
	padding: 20px 40px;
	width: 360px;
	margin-bottom: 20px;
	background: rgba(0,0,0,.02);
	border-radius: 3px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.26);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.26);
	-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.26);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.tabs-area {
	margin: 0 auto;
	width: 360px;
	overflow: auto;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.tab-style {
	display: block;
	float: left;
	width: 180px;
	height: 30px;
	font-family: Helvetica, "LiHei Pro", "微軟正黑體", "Microsoft JhengHei";
	font-size: 1.33rem;
	font-weight: 900;
	color: rgba(255,153,0,.76);
	background: rgba(255,255,255,1);
	border: 1px solid rgba(255,153,0,.76);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	cursor: pointer;
	outline: none;
}
.tab-style:hover {
	color: rgba(255,255,255,1);
	background: rgba(242,147,23,1);
	background: rgba(255,153,0,.76);
}
.tab-style:active {
	color: rgba(255,255,255,1);
	background: rgba(255,153,0,1);
}
.tab-act {
	color: rgba(255,255,255,1);
	background: rgba(242,147,23,1);
	background: rgba(255,153,0,1);
}
.login-content>section {
	margin-top: 20px;
}
.form-group {
	margin: 20px 0 40px;
	position: relative;
}
.form-group label {
	display: block;
	color: rgba(0,0,0,.54);
	background: rgba(0,0,0,.12);
	width: 36px;
	height: 36px;
	position: relative;
	z-index: 10;
	margin-bottom: -36px;
	text-align: center;
	line-height: 36px;
	border-radius: 3px 0 0 3px;
	font-size: 1.35rem;
}
.form-input {
	display: inline-block;
	width: 100%;
	font-size: 1.33rem;
	font-family: Helvetica, "LiHei Pro", "微軟正黑體", "Microsoft JhengHei";
	height: 36px;
	background: rgba(255,255,255,1);
	color: rgba(0,0,0,.54);
	border: 0px;
	border-radius: 3px;
	padding: 5px 5px 5px 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	z-index: 5;
}
.cfa-btn {
	width: 100%;
	border: none;
	color: rgba(255,153,0,1);
	font-size: 1.5rem;
	font-weight: 900;
	font-family: Helvetica, "LiHei Pro", "微軟正黑體", "Microsoft JhengHei";
	background: rgba(255,255,255,.02);
	border-radius: 3px;
	border: 1px solid rgba(255,153,0,1);
	line-height: 40px;
	margin: 20px 0 10px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	cursor: pointer;
	outline: none;
}
.cfa-btn:hover {
	color: rgba(255,255,255,1);
	background: rgba(255,153,0,.76);
}
.cfa-btn:active {
	color: rgba(255,255,255,1);
	background: rgba(255,153,0,1);
}
.input-area-bottom {
	color: #999;
	overflow: auto;
}
.forgetPw {
	color: rgba(0,0,0,.87);
	font-weight: 900;
	float: right;
}
.forgetPw:hover {
	color: rgba(255,153,0,1);
}
input[type="checkbox"] {
	margin: 0;
	position: relative;
	top: 3px;
	margin-right: 5px;
	cursor: pointer;
}
.input-area-bottom label {
	color: #333;
}
.check-alert {
	position: absolute;
	right: -25px;
	top: 10px;
}
.check-alert .fa {
	font-size: 1.33rem;
}
.fa-check {
	color: rgba(75,166,78,1);
	display: none;
}
.fa-times {
	color: rgba(230,68,54,1);
	display: none;
}
/*sign-info*/
.sign-content .form-group a {
	color: #ffac49;
}
.refresh {
	float: left;
	width: 50px;
	height: 25px;
	margin: 6px 10px;
	background: transparent;
	border: 0px solid ;
	border-radius: 3px;
	color: #ffac49;
	cursor: pointer;
	outline: none;
	font-size: 16px;
}

.sign-content figure {
	width: 163px;
	height: 34px;
	overflow: hidden;
	float: right;
	border: 1px solid #dedede;
	border-radius: 3px;
}
.sign-content figure img {
	width: 100%;
	border-radius: 3px;
}
/*--------------slide---------------------*/
.slick-dots {
	bottom: 10px;
}
.slick-dots li button {
	background: rgba(0,0,0,.5);
	border-radius: 20px;
}
.slick-dots li button:before {
	color: transparent;
}
.slick-dots li.slick-active button:before {
	color: transparent;
}
/*-------------PW--------------*/
.pw-container {
	margin: 0 auto;
	width: 320px;
	background: #f9f9f9;
	padding: 20px;
	border-top: 5px solid #ffac49;
	margin-top: 85px;
	text-align: center;
}
.pw-container>div {
	padding: 0 20px;
}
.pw-container h1 {
	font-size: 1.5rem;
	color: #666;
	text-align: center;
	margin-bottom: 20px;
}
.pw-container .form-title {
	margin-right: 20px;
}
.pw-nav {
	text-align: center;
	margin: 20px 0;
}
.pw-nav a {
	color: #666;
	font-size: 14px;
	font-weight: 900;
}
.pw-nav a:hover {
	color: #f7931c;
}
.d-line {
	width: 1px;
	background: #666;
	height: 14px;
	margin: 0 10px;
	display: inline-block;
	position: relative;
	top: 2px;
}
.pw-wording {
	text-align: left;
	line-height: 28px;
	font-size: 16px;
	padding: 20px 0;
}
.hint-o {
	display: none;
	position: relative;
	top: 5px;
	float: right;
	color: rgba(0,0,0,.56);
}
.hint {
	color: rgba(230,68,54,1);
	margin-top: 5px;
	display: block;
	float: right;
}