$basic-fonts: Helvetica, "LiHei Pro", "微軟正黑體", 
"Microsoft JhengHei",GillSans, Calibri, Trebuchet, sans-serif;;

$body-color: rgba(#fbfaf5, 1); //生成り色きなりいろ
$ground-color: #f3f3f3; //乳白色


$white: rgba(#fff, 1);
$primary-color: rgba(#ff9800, 1);
$primary-color-sec: rgba(#ff9800, .76);
$primary-color-dark: rgba(#f57c00, 1);
$primary-color-light: rgba(#ffe0b2, 1);

$primary-text: #1f3134; //百入茶
$second-text: #383c3c;  //羊羹色
$third-text: #9fa0a0;  //素鼠
$fourth-text: #c0c6c9;  //青灰

$price-color: rgba(#e9546b, 1);

$divider-w: rgba(#fff,.8);
$divider-b: rgba(#212121,.24);
$divide-style: 1px solid rgba(#b6b6b6, 1);

$icons: rgba(#212121, .54);
$icons-bg: rgba(#212121, .24);

@mixin border-box(){
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
};

$card-radius: 3px;
$card-bg-color:rgba(#000,.02);
$card-shadow: 0 1px 1px 0 rgba(0,0,0,.26);

@mixin card-style(){
	box-shadow: $card-shadow;
	-webkit-box-shadow: $card-shadow;
	-moz-box-shadow: $card-shadow;
	background: $card-bg-color;
	border-radius: $card-radius;
};
@mixin card-shadow(){
	box-shadow: $card-shadow;
	-webkit-box-shadow: $card-shadow;
	-moz-box-shadow: $card-shadow;
}
@mixin money-tag(){
	font-weight: 700;
	padding-right: 0.3rem;
}
@mixin text-hide(){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

$s-screen: 599px;
$m-screen-a: 601px;
$m-screen-z: 991px;
$l-screen: 992px;
$l-screen-a: 992px;
$l-screen-z: 1440px;
$xl-screen: 1441px;

$s-header: 40px;
$m-header: 48px;
$l-header: 64px;

@mixin btn-cata(){
	background: transparent;
	font-size: 1.4rem;
	font-weight: 100;
	text-align: center;
	border: 3px solid $third-text;
	color: $third-text;
	height: 48px;
	line-height: 48px - 6px;
	letter-spacing: 0.25rem;
	text-indent: 0.25rem;
	@include border-box;
	display: block;
	i {
		padding-right: 4px;
		font-size: 1.4rem;
	}
	@media screen and (max-width: $s-screen){
		font-size: 1.15rem;
		height: 40px;
		line-height: 40px - 6px;
		i {
			font-size: 1.15rem;
		}
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z){

	}
	@media screen and (min-width: $l-screen){

	}
}

