
$basic-fonts: Helvetica, "LiHei Pro", "微軟正黑體", "Microsoft JhengHei",GillSans, Calibri, Trebuchet, sans-serif;;

$body-color: rgba(#fcfcfc, 1);
$white: rgba(#fff, 1);
$primary-color: rgba(#ff9800, 1);
$primary-color-sec: rgba(#ff9800, .76);
$primary-color-dark: rgba(#f57c00, 1);
$primary-color-light: rgba(#ffe0b2, 1);

$primary-text: rgba(#212121, .8);
$second-text: rgba(#212121, .56);
$third-text: rgba(#212121, .24);

$divide-color: rgba(#b6b6b6, 1);
$icons: rgba(#212121, .54);
$icons-bg: rgba(#212121, .24);
$price-color: rgba(#ff3333, .8);

@mixin border-box(){
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
};

$card-radius: 3px;
$card-bg-color:rgba(#000,.02);
$card-shadow: 0 1px 1px 0 rgba(0,0,0,.26);

@mixin card-style(){
	box-shadow: $card-shadow;
	-webkit-box-shadow: $card-shadow;
	-moz-box-shadow: $card-shadow;
	background: $card-bg-color;
	border-radius: $card-radius;
};
@mixin card-shadow(){
	box-shadow: $card-shadow;
	-webkit-box-shadow: $card-shadow;
	-moz-box-shadow: $card-shadow;
}