@import "_style.scss";


figure {
	margin:0; 
	padding: 0;
	border: 0;
}
html {
	font-family: $basic-fonts;
}
header {
	i {
		color: rgba(255,255,255,1);
		cursor: pointer;
		line-height: 54px;
	}
	article {
		position: relative;
		@include card-shadow;
		.main-header {
			height: 54px;
			margin-bottom: 0!important;
			>div {
				background: #616161;
				position: fixed;
				z-index: 900;
			}
		}
		.sub-header {
			height: 56px;
			margin-bottom: 0!important;
			ul {
				margin: 0;
				background: #616161;
				position: fixed;
				z-index: 900;
				li {
					float: left;
					color: #fff;
					font-size: 20px;
					line-height: 52px;
					text-align: center;
					border-bottom: 4px solid transparent;
					cursor: pointer;
					&:hover {
						color: #fff;
						border-bottom: 4px solid #fff;
					}
				}
			}
		}
	}
}
.g-logo {
	text-align: center;
	line-height: 54px;
	img {
		vertical-align: middle;
	}
}
.calalog {
	background: #fff;
	ul {
		top: 54px!important;
	}
}
.content {
	background: #f5f5f5;
}
.main-banner {
	background: rgba(0,0,0,.87);
	height: 448px;
	margin-bottom: 3rem;
	img {
		background: rgba(0,0,0,1);
		overflow: hidden;
	}
}
.event-btn-g {
	.event-btn {
		/*margin: 3rem 0;*/
		span {
			background: rgba(0,0,0,.54);
			color: #fff;
			font-size: 16px;
			text-align: center;
			border-radius: 2px;
			height: 48px;
			line-height: 48px;
			margin-bottom: 8px;
			display: block;
		}
	}
}
.list-item {
	position: relative;
	margin-bottom: 1.5rem;
	figure {
		height: 200px;
		img {
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			background: rgba(0,0,0,.34);
			height: 200px;
			width: 100%;
		}
	}
}
.item-wording {
	padding: 8px;
	background: #fff;
	h3 {
		overflow: hidden;
		font-size: 18px;
		margin: 0;
	}
	.price {
		font-size: 20px;
		color: $price-color;
		font-weight: 900;
		span {
			font-size: 14px;
			margin-right: 4px;
		}
	}
}
.item-tag {
	position: absolute;
	height: 48px;
	width: 48px;
	border-radius: 2px;
	text-align: center;
	line-height: 48px;
	color: #fff;
	top: -5px;
	left: 16px;
	&.spec {
		background: #ff9800;
		&:after {
			content:'特';
		}
	}
	&.hot {
		background: #448aff;
		&:after {
			content: '熱';
		}
	}
}