@import "_style.scss";

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
/*------RemoveAutofillBackgroundYellow------*/

figure {
	margin:0; 
	padding: 0;
	border: 0;
}
html,body {
	font-family: $basic-fonts;
}
.btn-active {
	background: rgba($primary-color, 1) !important;
	border-color: $primary-color !important;
	color: #fff !important;;
}
.slash {
	padding: 0 4px;
}
.h-line { //horizontal-line
	margin: 0 4px;
}
/*Re*/
.dropdown-content li {
	text-align: center;
	span {
		padding: 1rem 0.5rem;
	}
}
/*-----------*/
header {
	nav {
		position: fixed;
		margin-bottom: 0!important;
		height: auto;
		z-index: 900;
	}
	.nav-wrapper {
		margin-bottom: 0!important;
		background: $body-color;
		ul,>div {
			padding: 0!important;
		}
	}
	.main-header {
		.g-logo {
			text-align: center;
			img {
				vertical-align: middle;
				position: relative;
			}
		}
		.page-title {
			color: $primary-text;
			font-weight: 700;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;
			@media screen and (max-width: $s-screen) {
				font-size: 1.5rem;
			}
			@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
				font-size: 1.5rem * 1.2;
			}
			@media screen and (min-width: $l-screen) {
				font-size: 1.5rem * 1.4;
			}
		}
	}
	.sub-header {
		.nav-wrapper,.sub-header & {
			height: 48px;
			line-height: 48px;
		}
		ul.tabs {
			border-top: 1px solid $divider-b;
			li.tab {
				background: $body-color;
				a {
					color: $primary-color;
					font-weight: 900;
					&:hover {
						color: $second-text;
					}
				}
			}
			.indicator {
				background: $primary-color;
				bottom: -1px;
				height: 4px;
				border-radius: 3px;
			}
		}
	}
	.search-area {
		background: $body-color;
		position: fixed;
		width: 230px;
		right: -230px;
		z-index: 999;
		.input-field {
			margin: 0;
			input {
				height: 2rem;
				margin: 0;
				color: $primary-text;
				border-bottom: 1px solid #9e9e9e;
			}
		}
		#search-btn2 {
			padding: 0 8px;
		}
	}
	a {
		display: block;
		i {
			color: $primary-color;
			cursor: pointer;
			@media screen and (max-width: $s-screen) {
				font-size: 2rem !important;
			}
			@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
				font-size: 2rem * 1.25 !important;
			}
			@media screen and (min-width: $l-screen) {
				font-size: 2rem * 1.5 !important;
			}
		}
	}
	@media screen and (max-width: $s-screen) {
		height: $s-header;
		.nav-wrapper {
			height: $s-header;
		}
		.g-logo {
			line-height: $s-header;
		}
		.main-header a {
			height: $s-header;
			i {
				line-height: $s-header;
			}
		}
		.calalog ul {
			top: $s-header!important;
		}
		.search-area {
			height: $s-header;
			.input-field {
				line-height: $s-header;
			}
		}
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
		height: $m-header;
		.nav-wrapper {
			height: $m-header;
		}
		.g-logo {
			line-height: $m-header;
		}
		.main-header a {
			height: $m-header;
			i {
				line-height: $m-header;
			}
		}
		.calalog ul {
			top: $m-header!important;
		}
		.search-area {
			height: $m-header;
			.input-field {
				line-height: $m-header;
			}
		}
	}
	@media screen and (min-width: $l-screen) {
		height: $l-header;
		.nav-wrapper {
			height: $l-header;
		}
		.g-logo {
			line-height: $l-header;
		}
		.main-header a {
			height: $l-header;
			i {
				line-height: $l-header;
			}
		}
		.calalog ul {
			top: $l-header!important;
		}
		.search-area {
			height: $l-header;
			.input-field {
				line-height: $l-header;
			}
		}
	}
}
.item-tag {
	position: absolute;
	border-radius: 100%;
	text-align: center;
	color: #fff;
	top: 4px;
	right: 4px;
	display: block;
	z-index: 99;
	&.spec {
		background: rgba($primary-color,.18);
		color: rgba($primary-color,.8);
		&:after {
			content:'特';
		}
	}
	&.hot {
		background: rgba(#e91e63,.18);
		color: rgba(#e91e63,.8);
		&:after {
			content: '熱';
		}
	}
	$tag-size: 2rem;
	$tag-fs: $tag-size * 0.75;
	$tag-lh: $tag-size * 1;
	@media screen and (max-width: $s-screen) {
		font-size: $tag-fs;
		line-height: $tag-lh;
		width: $tag-size;
		height: $tag-size;
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
		font-size: $tag-fs * 1.25;
		line-height: $tag-lh * 1.25;
		width: $tag-size * 1.25;
		height: $tag-size * 1.25;
	}
	@media screen and (min-width: $l-screen) {
		font-size: $tag-fs * 1.75;
		line-height: $tag-lh * 1.75;
		width: $tag-size * 1.75;
		height: $tag-size * 1.75;
	}
}