@import "_style.scss";

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
/*------RemoveAutofillBackgroundYellow------*/

figure {
	margin:0; 
	padding: 0;
	border: 0;
}
html,body {
	font-family: $basic-fonts;
}
.btn-active {
	background: $btn-active !important;
	border: 1px solid $primary-color !important;
	color: #fff;
}
.slash {
	padding: 0 4px;
}
/*Re*/
.dropdown-content li {
	text-align: center;
	span {
		padding: 1rem 0.5rem;
	}
}
/*-----------*/
header {
	nav {
		position: fixed;
		margin-bottom: 0!important;
		height: auto;
		z-index: 900;
	}
	.nav-wrapper {
		margin-bottom: 0!important;
		background: $body-color;
		ul,>div {
			padding: 0!important;
		}
	}
	.main-header {
		.g-logo {
			text-align: center;
			img {
				/*width: 100%;*/
				vertical-align: middle;
				position: relative;
			}
		}
		.page-title {
			color: $primary-text;
			font-weight: 900;
			@media screen and (max-width: $s-screen) {
				font-size: 1.3rem;
			}
			@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
				font-size: 1.3rem * 1.25;
			}
			@media screen and (min-width: $l-screen) {
				font-size: 1.3rem * 1.5;
			}
		}
		a {
			i {
				color: $primary-color;
				cursor: pointer;
				@media screen and (max-width: $s-screen) {
					font-size: 2rem !important;
				}
				@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
					font-size: 2rem * 1.25 !important;
				}
				@media screen and (min-width: $l-screen) {
					font-size: 2rem * 1.5 !important;
				}
			}
		}
	}
	@media screen and (max-width: $s-screen) {
		height: $s-header;
		.nav-wrapper {
			height: $s-header;
		}
		.g-logo {
			line-height: $s-header;
		}
		.main-header a {
			height: $s-header;
			i {
				line-height: $s-header;
			}
		}
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
		height: $m-header;
		.nav-wrapper {
			height: $m-header;
		}
		.g-logo {
			line-height: $m-header;
		}
		.main-header a {
			height: $m-header;
			i {
				line-height: $m-header;
			}
		}
	}
	@media screen and (min-width: $l-screen) {
		height: $l-header;
		.nav-wrapper {
			height: $l-header;
		}
		.g-logo {
			line-height: $l-header;
		}
		.main-header a {
			height: $l-header;
			i {
				line-height: $l-header;
			}
		}
	}
	.sub-header {
		.nav-wrapper,.sub-header & {
			height: 48px;
			line-height: 48px;
		}
		ul.tabs {
			border-top: 1px solid $divider-b;
			li.tab {
				background: $body-color;
				a {
					color: $primary-color;
					font-weight: 900;
					&:hover {
						color: $second-text;
					}
				}
			}
			.indicator {
				background: $primary-color;
				bottom: -1px;
				height: 3px;
			}
		}
	}
}
.calalog {
	ul {
		top: 64px!important;
	}
}
.search-area {
	position: relative;
	z-index: 999;
	li.row {
		margin: 0;
		.input-field {
			margin: 0;
			input {
				padding: 5px;
				margin: 0;
				color: $primary-text;
				border-bottom: 1px solid #9e9e9e;
			}
		}
	}
}
#sidenav-overlay2 {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 120vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	will-change: opacity;
}