@import "_style.scss";

.main-banner {
	ul.slides {
		background: #fff;
		li {
			text-align: center;
		}
		img {
			height: auto!important;
			width: 100%;
		}
	}
	ul.indicators {
		z-index: 890;
		padding: 0;
		margin-bottom: 40px;
		position: relative;
		li.indicator-item {
			display: inline-block;
			margin: 0;
			padding: 0;
			height: 48px;
			width: 25%;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			background-color: transparent;
			span {
				background: transparent;
				font-size: 1.3rem;
				font-weight: 400;
				text-align: center;
				border-bottom: 3px solid $third-text;
				color: $third-text;
				height: 36px;
				line-height: 36px - 6px;
				letter-spacing: 0.25rem;
				text-indent: 0.25rem;
				@include border-box;
				display: block;
			}
		}
		li.indicator-item.active {
			background: transparent;
			span {
				background: $primary-color;
				color: #fff;
				border: 3px solid $third-text;
				border-top: 0;
			}
		}
	}
}
.content {
	div.section-title {
		margin: 1rem 0 1.25rem;
		span {
			font-size: 1.5rem;
			color: $second-text;
			letter-spacing: 0.5rem;
			text-indent: 0.5rem;
			border-bottom: 3px solid $second-text;
			padding-bottom: .25rem;
		}
	}
}
.event-btn-area  {
	margin: 0;
	>div {
		padding: 0!important;
		margin: 0;
		text-align: center;
	}
	.btn-cata {
		position: relative;
		margin: 0 10px 20px;
		padding: 0 0.75rem;
		@include btn;
	}
	/*.line {
		$line: 1px solid rgba(0,0,0, .26);
		@media screen and (max-width: $s-screen) {
			&:after {
				content:'';
				position: relative;
				margin: 5px auto;
				display: block;
				border-bottom: $line;
				width: 140px;
			}
			&:before {
				content:'';
				position: absolute;
				display: block;
				border-left: $line;
				height: 36px - 12px;
				margin: 6px 0;
			}
			&:nth-last-of-type(2), &:last-of-type {
				&:after {
					border-bottom: 0;
				}
			}
			&:nth-of-type(odd) {
				&:before {
					border-left: 0;
				}
			}
		}
			@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
			&:before {
				content:'';
				position: absolute;
				display: block;
				border-right: $line;
				height: 36px - 12px;
				margin: 6px 0;
			}
			&:first-of-type {
				border: 0px;
				&:before {
					border-right: 0!important;
				}
			}
		}
		@media screen and (min-width: $l-screen) {
			&:before {
				content:'';
				position: absolute;
				display: block;
				border-right: $line;
				height: 36px;
			}
			&:first-of-type {
				border: 0px;
				&:before {
					border-right: 0!important;
				}
			}
		}
	}	*/
}
.row-list {
	margin: 20px - 7px auto 20px;
}
.list-item {
	position: relative;
	/*margin-bottom: 1.5rem;*/
	figure {
		/*margin: 6px;*/
		overflow: hidden;
		img {
			border-radius: 2px 2px 0 0;
			background: rgba(0,0,0,.34);
		}
	}
}
.item-wording {
	padding: 0.5rem!important;
	background: #fff;
	position: relative;
	h3 {
		overflow: hidden;
		margin: 4px 0 6px;
		color: $second-text;
		font-weight: 700;
	}
	.price {
		color: $price-color;
		font-weight: 400;
		span {
			margin-right: 6px;
		}
	}
	$p-name-fz: 1.3rem;  //basic size
	$p-name-h: $p-name-fz * 1.33;
	$p-name-lh: $p-name-fz * 1.33;
	
	/*$p-price-fz: $p-name-fz * 1.15 * 1.25;
	$p-price-lh: $p-name-fz * 1.15 * 1.25;
	$p-moneyTag-fz: $p-name-fz * 1.15 * 0.75;*/
	$p-price-fz: $p-name-fz * 1.15;
	$p-price-lh: $p-name-fz * 1.15;
	$p-moneyTag-fz: $p-name-fz * 1.15 * 0.9;
	
	@media screen and (max-width: $s-screen) {
		h3 {
			font-size: $p-name-fz;
			height: $p-name-h;
			line-height: $p-name-lh;
		}
		.price {
			font-size: $p-price-fz;
			line-height: $p-price-lh;
			.money-tag {
				font-size: $p-moneyTag-fz;
			}
		}
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
		h3 {
			font-size: $p-name-fz * 1.25;
			height: $p-name-h * 1.25;
			line-height: $p-name-lh * 1.25;
		}
		.price {
			font-size: $p-price-fz * 1.25;
			line-height: $p-price-lh * 1.25;
			.money-tag {
				font-size: $p-moneyTag-fz * 1.25;
			}
		}
	}
	@media screen and (min-width: $l-screen) {
		h3 {
			font-size: $p-name-fz * 1.4;
			height: $p-name-h * 1.4;
			line-height: $p-name-lh * 1.4;
		}
		.price {
			font-size: $p-price-fz * 1.4;
			line-height: $p-price-lh * 1.4;
			.money-tag {
				font-size: $p-moneyTag-fz * 1.4;
			}
		}
	}
}