@import "_style.scss";

.main-banner {
	ul.slides {
		background: #fff;
		li {
			text-align: center;
		}
		img {
			height: auto!important;
			width: 100%;
		}
	}
	ul.indicators {
		bottom: 40px;
		z-index: 890;
		li.indicator-item {
			background: $second-text;
		}
		li.indicator-item.active {
			background: $primary-color;
		}
	}
}
.content {
	h2 {
		font-size: 2rem;
		color: $second-text;
	}
}
.event-btn-area  {
	margin: 0;
	margin-bottom: 20px;
	>div {
		padding: 0!important;
		margin: 0;
		text-align: center;
	}
	.btn-flat {
		color: rgba(0,0,0,.54);
		background: transparent;
		font-size: 1.4rem;
		text-align: center;
		/*height: 48px;
		line-height: 48px;*/
		display: block;
		position: relative;
		margin: 0 10px;
		padding: 0 0.75rem;
		&:visited {
			color: #fff;
		}
		i {
			padding-right: 4px;
		}
	}
	.line {
		$line: 1px solid rgba(0,0,0, .26);
		@media screen and (max-width: $s-screen) {
			&:after {
				content:'';
				position: relative;
				margin: 5px auto;
				display: block;
				border-bottom: $line;
				width: 140px;
			}
			&:before {
				content:'';
				position: absolute;
				display: block;
				border-left: $line;
				height: 36px - 12px;
				margin: 6px 0;
			}
			&:nth-last-of-type(2), &:last-of-type {
				&:after {
					border-bottom: 0;
				}
			}
			&:nth-of-type(odd) {
				&:before {
					border-left: 0;
				}
			}
		}
			@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
			&:before {
				content:'';
				position: absolute;
				display: block;
				border-right: $line;
				height: 36px - 12px;
				margin: 6px 0;
			}
			&:first-of-type {
				border: 0px;
				&:before {
					border-right: 0!important;
				}
			}
		}
		@media screen and (min-width: $l-screen) {
			&:before {
				content:'';
				position: absolute;
				display: block;
				border-right: $line;
				height: 36px;
			}
			&:first-of-type {
				border: 0px;
				&:before {
					border-right: 0!important;
				}
			}
		}
	}	
}
.list-item {
	position: relative;
	margin-bottom: 1.5rem;
	figure {
		img {
			border-radius: 2px 2px 0 0;
			background: rgba(0,0,0,.34);
			/*height: 200px;*/
		}
		/*@media screen and (max-width: $s-screen){
			height: 180px;
		}
		@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
			height: 180px * 1.25;
		}
		@media screen and (min-width: $l-screen){
			height: 180px * 1.5;
		}*/
	}
}
.item-wording {
	padding: 0.5rem!important;
	background: #fff;
	position: relative;
	h3 {
		overflow: hidden;
		margin: 0;
		color: $second-text;
	}
	.price {
		color: $price-color;
		font-weight: 900;
		span {
			margin-right: 4px;
		}
	}
	@media screen and (max-width: $s-screen) {
		h3 {
			font-size: 1.5rem;		//basic size
			height: 1.5rem * 1.33;
			line-height: 1.5rem * 1.33;
		}
		.price {
			font-size: 1.5rem * 1.25;
			.money-tag {
				font-size: 1.5rem * 0.75;
			}
		}
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
		h3 {
			font-size: 1.75rem;		//basic size
			height: 1.75rem * 1.33;
			line-height: 1.75rem * 1.33;
		}
		.price {
			font-size: 1.75rem * 1.25;
			.money-tag {
				font-size: 1.75rem * 0.75;
			}
		}
	}
	@media screen and (min-width: $l-screen) {
		h3 {
			font-size: 2rem;	//basic size
			height: 2rem * 1.33;
			line-height: 2rem * 1.33;
		}
		.price {
			font-size: 2rem * 1.25;
			.money-tag {
				font-size: 2rem * 0.75;
			}
		}
	}
}
.item-tag {
	position: absolute;
	border-radius: 2px;
	text-align: center;
	color: #fff;
	top: 0;
	right: 0;
	display: block;
	z-index: 99;
	&.spec {
		background: rgba($primary-color, 1);
		&:after {
			content:'特';
		}
	}
	&.hot {
		background: rgba(#e91e63, 1);
		&:after {
			content: '熱';
		}
	}
	$tag-size: 2rem;
	$tag-fs: $tag-size * 0.75;
	$tag-lh: $tag-size * 1.075;
	@media screen and (max-width: $s-screen) {
		font-size: $tag-fs;
		line-height: $tag-lh;
		width: $tag-size;
		height: $tag-size;
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
		font-size: $tag-fs * 1.25;
		line-height: $tag-lh * 1.25;
		width: $tag-size * 1.25;
		height: $tag-size * 1.25;
	}
	@media screen and (min-width: $l-screen) {
		font-size: $tag-fs * 1.75;
		line-height: $tag-lh * 1.75;
		width: $tag-size * 1.75;
		height: $tag-size * 1.75;
	}
}