@import "_style.scss";

header {
	.nav-wrapper {
		position: relative!important;
	}
}

div.step-check {
	margin-bottom: 0!important;
	ul {
		margin-top: 2rem;
	}
	li {
		text-align: center;
		padding-bottom: 8px!important;
		&:before {
			content:'1';
			font-size: 2rem;
			color: $second-text;
			text-align: center;
			line-height: 5rem;
			display: block;
			width: 5rem;
			height: 5rem;
			background: #ddd;
			border-radius: 100%;
			margin: 0 auto;
			margin-bottom: 5px;
		}
		&:nth-of-type(2):before {
			content:'2';
		}
		&:nth-of-type(3):before {
			content:'3';
		}
	}
	li.now-page {
		&:before {
			background: $primary-color;
			color: $white;
		}
	}
	li.done-page {
		&:before {
			content:'\2713';

		}
	}
}
.main-content {
	label {
		display: block;
		font-size: 2rem;
		color: $second-text;
		margin-bottom: 1rem;
	}
	h2.pro-name {
		@include text-hide;
		color: $primary-text;
	}
	figure.pro-pic {
		img {
			width: 100%;
		}
	}
	.pro-size {
		margin-bottom: 40px;
		a {
			border: 1px solid #aaa;
			margin-bottom: 0;
			text-align: center;
		}
	}
	.pro-num {
		.browser-default {
			background: #fff;
			border: 1px solid #aaa;
			border-radius: 2px;
			text-align: center;
			padding: 0;
			width: initial;
			outline: none;
		}
	}
}
.price-area {
	.deli-price {
		select {
			background: transparent;
			padding: 0;
			border: 0;
			position: relative;
			left: -4px;
			outline: none;
			background: #fff;
		}
		dd {
			height: 45px;
			line-height: 45px;
		}
	}
}
.step-area {
	div {
		padding: 0!important;
		a#next-stp {
			background: #ddd;
			width: 100%;
			height: 48px;
			line-height: 48px;
		}
	}
}