@import "_style.scss";

.receiver-info, .buyer-info, .check-info {
	//margin: 2rem 0;
	padding: 0 0.75rem;
	.select-wrapper span.select-dropdown {
		margin-bottom: 0;
	}
}
.receiver-info {
	[type="checkbox"]:not(:checked) + label:before {
	top: 0px;
	width: 18px;
	height: 18px;
	border: 2px solid $second-text !important;
	}
}
.dropdown-content {
	max-height: 280px;
	li {
		&:hover {
			background: $primary-color;
			color: #fff;
		}
	}
	li.disabled {
		&:hover {
			color: rgba(0, 0, 0, 0.3);
		}
	}
}
.receiver-check {
	.title, .radio-btns {
		display: inline-block;
		line-height: 58px;
	}
	.radio-btns {
		label {
			margin: 0 10px;
		}
	}
	@media screen and (max-width: $s-screen){
		br {
			display: block;
		}
		.title, .radio-btns {
			line-height: 34px;
		}
	}@media screen and (min-width: $m-screen-z){
		br {
			display: none;
		}
	}
}
[type="radio"].with-gap:checked + label {
	&:after {
		border: 2px solid $primary-color;
		background-color: $primary-color;
	}
	&:before {
		border: 2px solid $primary-color;
	}
}
.card {
	.title {
		font-size: 1.4285rem;
		color: $second-text;
		margin: 0;
		font-weight: 900;
	}
}
.notice {
	.high-light-ul {
		>li {
			color: #f5c1c1;
		}
	}
	.num-ul {
		>li {
			color: #aaa;
			list-style: decimal; //inside
			margin: 0 1.5rem;
		}
	}
}