@import "_style.scss";

.receiver-info, .buyer-info {
	margin: 2rem 0;
	padding: 0 0.75rem;
	form {
		h2 {
			font-size: 1.4285rem;
			color: $second-text;
			margin: 0;
			font-weight: 900;
		}
	}
	.select-wrapper span.select-dropdown {
		margin-bottom: 0;
	}
}
.receiver-info {
	[type="checkbox"]:not(:checked) + label:before {
	top: 0px;
	width: 18px;
	height: 18px;
	border: 2px solid $second-text !important;
	}
}