@import "_style.scss";

body {
	background: $body-color;
}
.main-header {
	>div {

	}
}
.top-area {
	margin: 0;
	figure {
		height: 300px;
		overflow: hidden;
		padding: 0!important;
		img {
			margin: 0!important;
			padding: 0!important;
		}
	}
}
.middle-area {
	h2 {
		color: $primary-text;
		font-size: 3rem;
		@include text-hide;
	}
	.price-area {
		.pro-price {
			color: $price-color;
			font-size: 2rem;
			font-weight: 900;
			.money-tag {
				font-size: 1.5rem;
				@include money-tag;
			}
		}
		.pay-way {
			img.icon {
				float: right;
				margin-left: 8px;
			}
		}
	}
	.shop-img {
		img {
			width: 32px;
			height: 32px;
		}
	}
}
.bottom-area {
	h3 {
		color: $second-text;
		font-size: 2rem;
	}
	a {
		border: 1px solid #aaa;
		background: #ddd;
		text-align: center;
	}
}
.pro-sub-img {
	figure {
		img {
			width: 100%;
		}
	}
}
.cfa-area {
	div {
		position: fixed;
		z-index: 899;
		bottom: 0px;
		margin: 0;
		background: rgba(0,0,0,.5);
		height: 50px;
		span {
			text-align: center;
			line-height: 50px;
			button {
				margin: 0;
			}
		}
	}
}