@charset "UTF-8";
/*btn*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

/*------RemoveAutofillBackgroundYellow------*/
figure {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  font-family: Helvetica, "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", GillSans, Calibri, Trebuchet, sans-serif;
}

.btn-active {
  background: #f57c00 !important;
  border: 1px solid #ff9800 !important;
  color: #fff;
}

.slash {
  padding: 0 4px;
}

/*Re*/
.dropdown-content li {
  text-align: center;
}
.dropdown-content li span {
  padding: 1rem 0.5rem;
}

/*-----------*/
header nav {
  position: fixed;
  margin-bottom: 0 !important;
  height: auto;
  z-index: 900;
}
header .nav-wrapper {
  margin-bottom: 0 !important;
  background: #fcfcfc;
}
header .nav-wrapper ul, header .nav-wrapper > div {
  padding: 0 !important;
}
header .main-header .g-logo {
  text-align: center;
}
header .main-header .g-logo img {
  /*width: 100%;*/
  vertical-align: middle;
  position: relative;
}
header .main-header .page-title {
  color: rgba(33, 33, 33, 0.8);
  font-weight: 900;
}
@media screen and (max-width: 599px) {
  header .main-header .page-title {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header .main-header .page-title {
    font-size: 1.625rem;
  }
}
@media screen and (min-width: 992px) {
  header .main-header .page-title {
    font-size: 1.95rem;
  }
}
header .main-header a i {
  color: #ff9800;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  header .main-header a i {
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header .main-header a i {
    font-size: 2.5rem !important;
  }
}
@media screen and (min-width: 992px) {
  header .main-header a i {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 599px) {
  header {
    height: 40px;
  }
  header .nav-wrapper {
    height: 40px;
  }
  header .g-logo {
    line-height: 40px;
  }
  header .main-header a {
    height: 40px;
  }
  header .main-header a i {
    line-height: 40px;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header {
    height: 48px;
  }
  header .nav-wrapper {
    height: 48px;
  }
  header .g-logo {
    line-height: 48px;
  }
  header .main-header a {
    height: 48px;
  }
  header .main-header a i {
    line-height: 48px;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 64px;
  }
  header .nav-wrapper {
    height: 64px;
  }
  header .g-logo {
    line-height: 64px;
  }
  header .main-header a {
    height: 64px;
  }
  header .main-header a i {
    line-height: 64px;
  }
}
header .sub-header .nav-wrapper, .sub-header header .sub-header {
  height: 48px;
  line-height: 48px;
}
header .sub-header ul.tabs {
  border-top: 1px solid rgba(33, 33, 33, 0.24);
}
header .sub-header ul.tabs li.tab {
  background: #fcfcfc;
}
header .sub-header ul.tabs li.tab a {
  color: #ff9800;
  font-weight: 900;
}
header .sub-header ul.tabs li.tab a:hover {
  color: rgba(33, 33, 33, 0.56);
}
header .sub-header ul.tabs .indicator {
  background: #ff9800;
  bottom: -1px;
  height: 3px;
}

.calalog ul {
  top: 64px !important;
}

.search-area {
  position: relative;
  z-index: 999;
}
.search-area li.row {
  margin: 0;
}
.search-area li.row .input-field {
  margin: 0;
}
.search-area li.row .input-field input {
  padding: 5px;
  margin: 0;
  color: rgba(33, 33, 33, 0.8);
  border-bottom: 1px solid #9e9e9e;
}

#sidenav-overlay2 {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  will-change: opacity;
}
