@charset "UTF-8";
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

/*------RemoveAutofillBackgroundYellow------*/
figure {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  font-family: Helvetica, "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", GillSans, Calibri, Trebuchet, sans-serif;
  background: #f3f3f3;
}

.btn-active {
  background: #ff9800 !important;
  border-color: #ff9800 !important;
  color: #fff !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slash {
  padding: 0 4px;
}

.h-line {
  margin: 0 4px;
}

/*Re*/
.dropdown-content li {
  text-align: center;
}
.dropdown-content li span {
  padding: 1rem 0.5rem;
}

/*-----------*/
header nav {
  position: fixed;
  margin-bottom: 0 !important;
  height: auto;
  z-index: 900;
}
header .nav-wrapper {
  background: #fff;
  margin-bottom: 0 !important;
}
header .nav-wrapper ul, header .nav-wrapper > div {
  padding: 0 !important;
}
header .main-header ul > li:hover {
  background: transparent;
}
header .main-header .g-logo {
  text-align: center;
}
header .main-header .g-logo img {
  vertical-align: middle;
  position: relative;
}
header .main-header .page-title {
  color: #1f3134;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-indent: 0.5rem;
}
@media screen and (max-width: 599px) {
  header .main-header .page-title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header .main-header .page-title {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 992px) {
  header .main-header .page-title {
    font-size: 2.1rem;
  }
}
header .sub-header .nav-wrapper, .sub-header header .sub-header {
  height: 48px;
  line-height: 48px;
}
header .sub-header ul.tabs {
  border-top: 1px solid rgba(33, 33, 33, 0.24);
}
header .sub-header ul.tabs li.tab {
  background: #fff;
}
header .sub-header ul.tabs li.tab a {
  color: #383c3c;
  font-weight: 900;
}
header .sub-header ul.tabs li.tab a:hover {
  color: #383c3c;
}
header .sub-header ul.tabs li.tab a.active {
  color: #ff9800;
}
header .sub-header ul.tabs .indicator {
  background: #ff9800;
  bottom: -1px;
  height: 4px;
  border-radius: 3px;
}
header .search-area {
  background: #fbfaf5;
  position: fixed;
  right: 0;
  width: 0;
  z-index: 999;
}
header .search-area .input-field {
  margin: 0;
  width: 95%;
}
header .search-area .input-field input {
  height: 2rem;
  margin: 0;
  color: #1f3134;
  border-bottom: 1px solid #9e9e9e;
}
header .search-area #search-btn2 {
  padding: 0 8px;
}
header a {
  display: block;
}
header a i {
  color: #ff9800;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  header a i {
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header a i {
    font-size: 2.5rem !important;
  }
}
@media screen and (min-width: 992px) {
  header a i {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 599px) {
  header {
    height: 40px;
  }
  header .nav-wrapper {
    height: 40px;
  }
  header .g-logo {
    line-height: 40px;
  }
  header .main-header a {
    height: 40px;
  }
  header .main-header a i {
    line-height: 40px;
  }
  header .calalog ul {
    top: 40px !important;
  }
  header .search-area {
    height: 40px;
  }
  header .search-area .input-field {
    line-height: 40px;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header {
    height: 48px;
  }
  header .nav-wrapper {
    height: 48px;
  }
  header .g-logo {
    line-height: 48px;
  }
  header .main-header a {
    height: 48px;
  }
  header .main-header a i {
    line-height: 48px;
  }
  header .calalog ul {
    top: 48px !important;
  }
  header .search-area {
    height: 48px;
  }
  header .search-area .input-field {
    line-height: 48px;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 64px;
  }
  header .nav-wrapper {
    height: 64px;
  }
  header .g-logo {
    line-height: 64px;
  }
  header .main-header a {
    height: 64px;
  }
  header .main-header a i {
    line-height: 64px;
  }
  header .calalog ul {
    top: 64px !important;
  }
  header .search-area {
    height: 64px;
  }
  header .search-area .input-field {
    line-height: 64px;
  }
}

.item-tag {
  position: absolute;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  top: 4px;
  right: 4px;
  display: block;
  z-index: 99;
  font-family: '新細明體';
}
.item-tag.spec {
  color: rgba(255, 152, 0, 0.8);
  /*& + .card-image > figure {
  	background: rgba($primary-color,.5);
  }*/
}
.item-tag.spec:after {
  content: '特';
}
.item-tag.hot {
  color: rgba(233, 30, 99, 0.8);
  /*& + .card-image > figure {
  	background: rgba(#e91e63,.5);
  }*/
}
.item-tag.hot:after {
  content: 'Hot';
}
@media screen and (max-width: 599px) {
  .item-tag {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .item-tag {
    font-size: 1.875rem;
    line-height: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .item-tag {
    font-size: 2.1rem;
    line-height: 2.8rem;
    width: 2.8rem;
    height: 2.8rem;
  }
}
