@charset "UTF-8";
.main-banner ul.slides {
  background: #fff;
}
.main-banner ul.slides li {
  text-align: center;
}
.main-banner ul.slides img {
  height: auto !important;
  width: 100%;
}
.main-banner ul.indicators {
  bottom: 40px;
  z-index: 999;
}
.main-banner ul.indicators li.indicator-item {
  background: rgba(33, 33, 33, 0.56);
}
.main-banner ul.indicators li.indicator-item.active {
  background: #ff9800;
}

.event-btn-area {
  margin: 0;
  margin-bottom: 20px;
}
.event-btn-area > div {
  padding: 0 !important;
  margin: 0;
  text-align: center;
}
.event-btn-area .btn-flat {
  color: rgba(0, 0, 0, 0.54);
  background: transparent;
  font-size: 1.4rem;
  text-align: center;
  /*height: 48px;
  line-height: 48px;*/
  display: block;
  position: relative;
  margin: 0 10px;
  padding: 0 0.75rem;
}
.event-btn-area .btn-flat:visited {
  color: #fff;
}
.event-btn-area .btn-flat i {
  padding-right: 4px;
}
@media screen and (max-width: 599px) {
  .event-btn-area .line:after {
    content: '';
    position: relative;
    margin: 5px auto;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    width: 140px;
  }
  .event-btn-area .line:before {
    content: '';
    position: absolute;
    display: block;
    border-left: 1px solid rgba(0, 0, 0, 0.26);
    height: 24px;
    margin: 6px 0;
  }
  .event-btn-area .line:nth-last-of-type(2):after, .event-btn-area .line:last-of-type:after {
    border-bottom: 0;
  }
  .event-btn-area .line:nth-of-type(odd):before {
    border-left: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .event-btn-area .line:before {
    content: '';
    position: absolute;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    height: 24px;
    margin: 6px 0;
  }
  .event-btn-area .line:first-of-type {
    border: 0px;
  }
  .event-btn-area .line:first-of-type:before {
    border-right: 0 !important;
  }
}
@media screen and (min-width: 992px) {
  .event-btn-area .line:before {
    content: '';
    position: absolute;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.26);
    height: 36px;
  }
  .event-btn-area .line:first-of-type {
    border: 0px;
  }
  .event-btn-area .line:first-of-type:before {
    border-right: 0 !important;
  }
}

.list-item {
  position: relative;
  margin-bottom: 1.5rem;
}
.list-item figure {
  /*height: 200px;*/
}
.list-item figure img {
  border-radius: 2px 2px 0 0;
  background: rgba(0, 0, 0, 0.34);
  /*height: 200px;*/
}

.item-wording {
  padding: 0.5rem !important;
  background: #fff;
}
.item-wording h3 {
  overflow: hidden;
  margin: 0;
  color: rgba(33, 33, 33, 0.56);
}
.item-wording .price {
  color: rgba(255, 51, 51, 0.8);
  font-weight: 900;
}
.item-wording .price span {
  margin-right: 4px;
}
@media screen and (max-width: 599px) {
  .item-wording h3 {
    font-size: 1.5rem;
    height: 2rem;
    line-height: 2rem;
  }
  .item-wording .price {
    font-size: 1.875rem;
  }
  .item-wording .price .money-tag {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .item-wording h3 {
    font-size: 1.75rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }
  .item-wording .price {
    font-size: 2.1875rem;
  }
  .item-wording .price .money-tag {
    font-size: 1.3125rem;
  }
}
@media screen and (min-width: 992px) {
  .item-wording h3 {
    font-size: 2rem;
    height: 3rem;
    line-height: 3rem;
  }
  .item-wording .price {
    font-size: 2.5rem;
  }
  .item-wording .price .money-tag {
    font-size: 1.5rem;
  }
}

.item-tag {
  position: absolute;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  top: 0;
  right: 0;
  display: block;
  z-index: 99;
}
.item-tag.spec {
  background: #ff9800;
}
.item-tag.spec:after {
  content: '特';
}
.item-tag.hot {
  background: #e91e63;
}
.item-tag.hot:after {
  content: '熱';
}
@media screen and (max-width: 599px) {
  .item-tag {
    font-size: 1.5rem;
    line-height: 2.3rem;
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .item-tag {
    font-size: 1.875rem;
    line-height: 2.875rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .item-tag {
    font-size: 2.625rem;
    line-height: 4.025rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}
