.receiver-info, .buyer-info {
  margin: 2rem 0;
  padding: 0 0.75rem;
}
.receiver-info form h2, .buyer-info form h2 {
  font-size: 1.4285rem;
  color: rgba(33, 33, 33, 0.56);
  margin: 0;
  font-weight: 900;
}
.receiver-info .select-wrapper span.select-dropdown, .buyer-info .select-wrapper span.select-dropdown {
  margin-bottom: 0;
}

.receiver-info [type="checkbox"]:not(:checked) + label:before {
  top: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(33, 33, 33, 0.56) !important;
}
