div.step-check {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #b6b6b6;
}
div.step-check ul {
  margin-top: 2rem;
}
div.step-check li {
  text-align: center;
  margin-bottom: 8px;
}
div.step-check li:before {
  content: '1';
  color: #383c3c;
  text-align: center;
  font-size: 2rem;
  line-height: 5rem;
  width: 5rem;
  height: 5rem;
  display: block;
  background: #ddd;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
div.step-check li:nth-of-type(2):before {
  content: '2';
}
div.step-check li:nth-of-type(3):before {
  content: '3';
}
@media screen and (max-width: 599px) {
  div.step-check li {
    font-size: 12px;
    padding: 0 0.5rem !important;
  }
  div.step-check li:before {
    font-size: 1.5rem;
    line-height: 3.75rem;
    width: 3.75rem;
    height: 3.75rem;
  }
}
div.step-check li.now-page:before {
  background: #ff9800;
  color: white;
}
div.step-check li.done-page:before {
  content: '\2713';
}

.main-content > div {
  padding: 0 !important;
}
.main-content label.strd-title {
  display: block;
  font-size: 1rem;
  color: #383c3c;
  margin-bottom: 1rem;
}
.main-content h2.pro-name {
  /*@include text-hide;*/
  color: #17184b;
  margin: 1rem 0;
  padding: 0 0.75rem;
}
@media screen and (max-width: 599px) {
  .main-content h2.pro-name {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .main-content h2.pro-name {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .main-content h2.pro-name {
    font-size: 1.95rem;
    line-height: 3rem;
  }
}
.main-content figure.pro-pic img {
  width: 100%;
}
.main-content .pro-size, .main-content .pro-num {
  margin-bottom: 40px;
}
.main-content .pro-size a, .main-content .pro-num a {
  border: 1px solid #aaa;
  margin-bottom: 0;
  text-align: center;
}
.main-content .pro-size .select-wrapper, .main-content .pro-num .select-wrapper {
  width: 6rem;
}
.main-content .pro-size .select-wrapper span, .main-content .pro-num .select-wrapper span {
  background: #ff9800;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ff9800;
}

.price-area {
  margin-bottom: 1rem;
  padding: 0 0.75rem;
}
.price-area dl {
  margin: 1rem 0;
  height: 2.5rem;
  line-height: 2.5rem;
}
.price-area dl dt {
  font-size: 1rem;
}
.price-area dl dd {
  font-size: 1.25rem;
}
.price-area dl dd .money-tag {
  font-size: 0.85rem;
  font-weight: 700;
  padding-right: 0.3rem;
}
.price-area .deli-price select {
  padding: 0;
  border: 1px solid #e0e0e;
  position: relative;
  left: -4px;
  outline: none;
  background: #fff;
}
.price-area .deli-price dt {
  width: 12rem;
  height: 3rem;
}
.price-area .deli-price dt .select-dropdown {
  border: 0;
  top: -8px;
}
.price-area .deli-price dt .select-dropdown:after {
  position: relative;
  top: 5px;
}
.price-area .deli-price dd {
  height: 45px;
  line-height: 45px;
}
.price-area .total-price dd {
  color: #d9333f;
  font-size: 1.5rem !important;
  font-weight: 700;
}
.price-area .total-price dd .money-tag {
  font-size: 1.275rem;
}

.step-area {
  margin-bottom: 0;
}
.step-area div a#next-stp {
  background: #ff9800;
  color: #fff;
  font-size: 1.3rem;
  width: 100%;
  height: 48px;
  line-height: 48px;
}
