.receiver-info, .buyer-info, .check-info {
  padding: 0 0.75rem;
}
.receiver-info .select-wrapper span.select-dropdown, .buyer-info .select-wrapper span.select-dropdown, .check-info .select-wrapper span.select-dropdown {
  margin-bottom: 0;
}

.receiver-info [type="checkbox"]:not(:checked) + label:before {
  top: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid #383c3c !important;
}

.dropdown-content {
  max-height: 280px;
}
.dropdown-content li:hover {
  background: #ff9800;
  color: #fff;
}
.dropdown-content li.disabled:hover {
  color: rgba(0, 0, 0, 0.3);
}

.receiver-check .title, .receiver-check .radio-btns {
  display: inline-block;
  line-height: 58px;
}
.receiver-check .radio-btns label {
  margin: 0 10px;
}
@media screen and (max-width: 599px) {
  .receiver-check br {
    display: block;
  }
  .receiver-check .title, .receiver-check .radio-btns {
    line-height: 34px;
  }
}
@media screen and (min-width: 991px) {
  .receiver-check br {
    display: none;
  }
}

[type="radio"].with-gap:checked + label:after {
  border: 2px solid #ff9800;
  background-color: #ff9800;
}
[type="radio"].with-gap:checked + label:before {
  border: 2px solid #ff9800;
}

.card .title {
  font-size: 1.4285rem;
  color: #383c3c;
  margin: 0;
  font-weight: 900;
}

.notice .high-light-ul > li {
  color: #f5c1c1;
}
.notice .num-ul > li {
  color: #aaa;
  list-style: decimal;
  margin: 0 1.5rem;
}
