.table-vertical {
  display: table;
}
.table-vertical > * {
  display: table-cell;
  vertical-align: middle;
}

div.step-check {
  margin-bottom: 0;
}
div.step-check ul {
  margin-top: 2rem;
}
div.step-check li {
  text-align: center;
}
div.step-check li:before {
  content: '1';
  color: #383c3c;
  text-align: center;
  font-size: 2rem;
  line-height: 5rem;
  width: 5rem;
  height: 5rem;
  display: block;
  background: #ddd;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
div.step-check li:nth-of-type(2):before {
  content: '2';
}
div.step-check li:nth-of-type(3):before {
  content: '3';
}
@media screen and (max-width: 599px) {
  div.step-check li {
    font-size: 12px;
    padding: 0 0.5rem !important;
  }
  div.step-check li:before {
    font-size: 1.5rem;
    line-height: 3.75rem;
    width: 3.75rem;
    height: 3.75rem;
  }
}
div.step-check li.now-page:before {
  background: #222;
  color: white;
}
div.step-check li.done-page:before {
  content: '\2713';
}

.main-content {
  margin-bottom: 0;
  /*
  >div {
  	padding: 0!important;
  }
  */
  /*
  label.strd-title {
  	display: block;
  	font-size: 1rem;
  	color: $second-text;
  	margin-bottom: 1rem;
  }
  */
}

.pro-intro .card {
  width: 100%;
}
.pro-intro .card .pro-name {
  width: 50%;
  color: #1f3134;
  padding: 0 0.75rem;
}
@media screen and (max-width: 599px) {
  .pro-intro .card .pro-name {
    font-size: 1.4rem;
    line-height: 2.52rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .pro-intro .card .pro-name {
    font-size: 1.75rem;
    line-height: 3.15rem;
  }
}
@media screen and (min-width: 992px) {
  .pro-intro .card .pro-name {
    font-size: 2.1rem;
    line-height: 3.78rem;
  }
}
.pro-intro .card .pro-pic {
  width: 50%;
}
.pro-intro .card .pro-pic img {
  width: 100%;
}

.pro-detail .card {
  padding: 0.75rem 0;
}
.pro-detail .card .select-wrapper span {
  background: transparent;
  color: #555;
  border: 2px solid #555555;
  border-radius: 24px;
  height: 36px;
  line-height: 30px;
  text-align: center;
  padding: 0 1rem;
  margin: 0;
}
.pro-detail .card .select-wrapper span:after {
  right: 4px;
}
.pro-detail .card .pro-size, .pro-detail .card .pro-num {
  /*a {
  	border: 1px solid #aaa;
  	margin-bottom: 0;
  	text-align: center;
  }*/
}
.pro-detail .card .pro-size .select-wrapper span, .pro-detail .card .pro-num .select-wrapper span {
  text-align: left;
  margin: 1.5rem 0;
}
.pro-detail .card .price-area {
  border-left: 1px solid #aaa;
}
.pro-detail .card .price-area .col {
  padding: 0;
}
.pro-detail .card .price-area dl {
  margin: 0;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.pro-detail .card .price-area dl dt {
  font-size: 1rem;
  text-align: left;
}
.pro-detail .card .price-area dl dd {
  font-size: 1.25rem;
  text-align: right;
}
.pro-detail .card .price-area dl dd .money-tag {
  font-size: 1.25rem;
  padding-right: 0.3rem;
  font-family: Verdana;
}
.pro-detail .card .price-area dl:last-of-type {
  margin-bottom: 0;
}
.pro-detail .card .price-area .deli-price .select-wrapper span {
  margin: 0;
}
.pro-detail .card .price-area .total-price dd {
  color: #e52d27;
}

.step-area {
  margin: .5rem 0 0 0;
}
.step-area div a#next-stp {
  font-size: 1.3rem;
  width: 100%;
  height: 48px;
  line-height: 44px;
  background: #fff;
  color: #222;
  border: 2px solid #222;
}

/*changeDefault*/
.dropdown-content {
  border: 2px solid #222;
  background: #f3f3f3;
  border-radius: 24px;
}
.dropdown-content li:hover {
  background: #222;
  color: #fff;
}
.dropdown-content li.disabled {
  background: #222;
  color: #fff;
}
.dropdown-content li.disabled:hover {
  background: #222;
  color: #fff;
}
