/*btn*/
body {
  background: #fcfcfc;
}

@media screen and (max-width: 599px) {
  header {
    height: 88px !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  header {
    height: 96px !important;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 112px !important;
  }
}

.top-area {
  margin: 0;
}
.top-area figure {
  /*height: 300px;
  overflow: hidden;*/
  text-align: center;
  padding: 0 !important;
}
.top-area figure img {
  margin: 0 !important;
  padding: 0 !important;
}

.middle-area h2 {
  color: rgba(33, 33, 33, 0.8);
  margin: 0.5rem 0 0;
  font-size: 2rem;
  line-height: 2.8rem;
  /*@include text-hide;*/
}
.middle-area .price-area .pro-price {
  color: rgba(255, 51, 51, 0.8);
  font-weight: 900;
  padding: 0;
  font-size: 2.5rem;
}
.middle-area .price-area .pro-price .money-tag {
  font-weight: 700;
  padding-right: 0.3rem;
  font-size: 1.5rem;
}
.middle-area .price-area .pro-price .price-title {
  font-size: 1.5rem;
}
.middle-area .price-area .pay-way {
  padding: 0;
}
.middle-area .price-area .pay-way img.icon {
  padding: 8px;
}
.middle-area .price-area br {
  display: none;
}
@media screen and (max-width: 599px) {
  .middle-area h2 {
    font-size: 1.75rem;
  }
  .middle-area .price-area .pro-price {
    font-size: 2.1875rem;
    line-height: 2.1875rem;
  }
  .middle-area .price-area .pro-price .price-title, .middle-area .price-area .pro-price .money-tag {
    font-size: 1.3125rem;
  }
  .middle-area br {
    display: block !important;
  }
  .middle-area img.icon {
    width: 20%;
    padding: 0 !important;
    margin: 8px;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .middle-area h2 {
    font-size: 1.75rem;
  }
  .middle-area .price-area .pro-price {
    font-size: 2.1875rem;
  }
  .middle-area .price-area .pro-price .price-title, .middle-area .price-area .pro-price .money-tag {
    font-size: 1.3125rem;
  }
  .middle-area img.icon {
    width: 20% !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1440px) {
  .middle-area h2 {
    font-size: 2rem;
  }
  .middle-area .price-area .pro-price {
    font-size: 2.5rem;
  }
  .middle-area .price-area .pro-price .price-title, .middle-area .price-area .pro-price .money-tag {
    font-size: 1.5rem;
  }
  .middle-area img.icon {
    width: 20% !important;
  }
}
@media screen and (min-width: 1441px) {
  .middle-area img.icon {
    width: 10% !important;
  }
}
.middle-area .store-area.row {
  margin: 0;
}
.middle-area .store-area.row .col {
  padding-left: 0;
}
.middle-area .store-area.row .shop-img img {
  border: 1px solid rgba(33, 33, 33, 0.24);
}
.middle-area .store-area.row .shop-name {
  padding-left: 16px;
}
.middle-area .store-area.row .shop-name a {
  color: rgba(33, 33, 33, 0.56);
}

.bottom-area {
  margin: 0;
  border-top: 1px solid #b6b6b6;
  padding-top: 1rem;
}
.bottom-area h3 {
  color: rgba(33, 33, 33, 0.56);
  font-size: 2rem;
  margin: 0 0 0.75rem 0;
}
.bottom-area .pro-size, .bottom-area .sns {
  margin-bottom: 1rem;
}
.bottom-area .btn-g > span.col {
  padding: 0;
  text-align: center;
  padding: 0 8px;
}
.bottom-area .btn-g > span.col a {
  border: 1px solid #aaa;
  background: #ddd;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
}

.extra-area {
  padding: 0;
  padding-top: 2rem !important;
  border-top: 1px solid #b6b6b6;
  margin-bottom: 38px;
}
.extra-area .pro-sub-img {
  padding: 0.75rem;
  /*height: 330px;
  line-height: 330px;
  overflow: hidden;*/
}
.extra-area .pro-sub-img a {
  display: block;
  border: 1px solid #e2e2e2;
  background: #fff;
}
.extra-area .pro-sub-img img {
  vertical-align: middle;
  padding: 1.5rem;
}

.cfa-area div {
  position: fixed;
  z-index: 899;
  bottom: 0;
  margin: 0;
  padding: 0 !important;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  /*height: 50px;
  line-height: 50px;*/
}
.cfa-area div span {
  padding: 0.75rem !important;
}
.cfa-area div span a.btn {
  margin: 0;
  background: #ff9800;
  font-size: 1.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
}
.cfa-area div span a.btn:hover {
  background: #f57c00;
}
.cfa-area div span i {
  padding-right: 0.5rem;
}
@media screen and (min-width: 1441px) {
  .cfa-area div a.btn {
    height: 3rem !important;
    line-height: 3rem !important;
  }
}
