/*header {
	@media screen and (max-width: $s-screen) {
		height: $s-header + 48px!important;
	}
	@media screen and (min-width: $m-screen-a)and(max-width: $m-screen-z) {
		height: $m-header + 48px!important;
	}
	@media screen and (min-width: $l-screen) {
		height: $l-header + 48px!important;
	}
}*/
.top-area.row {
  margin: 0;
}
.top-area.row figure.card {
  max-height: 400px;
  overflow: hidden;
  text-align: center;
  padding: 0;
  background: #fff;
  margin-top: 0;
}
.top-area.row figure.card img {
  width: 100%;
}

.middle-area h2 {
  color: #1f3134;
  margin: 0;
  /*@include text-hide;*/
}
.middle-area .price-area > div {
  display: inline-block;
}
.middle-area .price-area > div .price {
  font-family: Verdana;
}
.middle-area .price-area > div .money-tag {
  padding-right: 0.3rem;
  font-family: Verdana;
}
.middle-area .price-area .pro-price {
  color: #e52d27;
}
.middle-area .price-area .pro-price .price-title {
  font-size: 1.02rem;
}
.middle-area .price-area .pro-price .money-tag {
  font-size: 2.125rem;
}
.middle-area .price-area .ori-price {
  color: #aaa;
  margin-left: 0.6rem;
}
.middle-area .price-area .ori-price span.price {
  text-decoration: line-through;
}
@media screen and (max-width: 599px) {
  .middle-area h2 {
    font-size: 1.7rem;
    line-height: 2.38rem;
  }
  .middle-area .price-area .pro-price {
    font-size: 2.125rem;
  }
  .middle-area .price-area .pro-price .money-tag {
    font-size: 2.125rem;
  }
  .middle-area .price-area .pro-price .price-title {
    font-size: 1.02rem;
  }
  .middle-area .price-area .ori-price {
    font-size: 1.02rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 991px) {
  .middle-area h2 {
    font-size: 1.7rem;
    line-height: 2.38rem;
  }
  .middle-area .price-area .pro-price {
    font-size: 2.125rem;
  }
  .middle-area .price-area .pro-price .money-tag {
    font-size: 2.125rem;
  }
  .middle-area .price-area .pro-price .price-title {
    font-size: 1.02rem;
  }
  .middle-area .price-area .ori-price {
    font-size: 1.02rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1440px) {
  .middle-area h2 {
    font-size: 1.7rem;
    line-height: 2.38rem;
  }
  .middle-area .price-area .pro-price {
    font-size: 2.125rem;
  }
  .middle-area .price-area .pro-price .money-tag {
    font-size: 2.125rem;
  }
  .middle-area .price-area .pro-price .price-title {
    font-size: 1.02rem;
  }
  .middle-area .price-area .ori-price {
    font-size: 1.02rem;
  }
}

.bottom-area {
  margin: 0;
  padding: 0 0.75rem;
}
.bottom-area section.card {
  margin-top: 0;
  padding: 0.75rem 0;
}
.bottom-area .pro-size, .bottom-area .sns {
  width: 50%;
  float: left;
  padding: 0 0.75rem;
}
.bottom-area .pro-size .title, .bottom-area .sns .title {
  color: #9fa0a0;
  font-size: 1.25rem;
  font-weight: 100;
  margin: 0 0 0.75rem 0;
  text-align: center;
}
.bottom-area .btn-group a {
  background: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  border: 2px solid #9fa0a0;
  color: #9fa0a0;
  height: 48px;
  line-height: 42px;
  letter-spacing: 0.25rem;
  text-indent: 0.25rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  margin-bottom: 8px;
  width: 100%;
  padding: 0;
}
.bottom-area .btn-group a i {
  padding-right: 4px;
  font-size: 1.4rem;
}
@media screen and (max-width: 599px) {
  .bottom-area .btn-group a {
    font-size: 1.15rem;
    height: 40px;
    line-height: 34px;
  }
  .bottom-area .btn-group a i {
    font-size: 1.15rem;
  }
}
.bottom-area .btn-group a.btn-active {
  background: #ff9800;
  border-color: #ff9800;
  color: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background: #3b5998;
  border-color: #3b5998;
  color: #fff;
}
.bottom-area .btn-group a.btn-fail {
  background: #fff;
  border-color: #e52d27;
  color: #e52d27;
}
.bottom-area .store-area.row {
  padding: 1rem 0;
  margin: 0.5rem 0;
}
.bottom-area .store-area.row .col {
  padding-left: 0;
}
.bottom-area .store-area.row .shop-img {
  max-width: 100px;
}
.bottom-area .store-area.row .shop-img img {
  border: 1px solid #9fa0a0;
}
.bottom-area .store-area.row .shop-name a {
  color: #383c3c;
  font-size: 1.2rem;
}
.bottom-area .pay-way {
  font-size: 0;
}
.bottom-area .pay-way img.icon {
  padding: 0 0.75rem;
  opacity: .8;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
}

.extra-area {
  padding: 0;
  padding-top: 2rem !important;
  margin-bottom: 38px;
}
.extra-area .pro-sub-img {
  padding: 0.75rem;
  overflow: hidden;
}
.extra-area .pro-sub-img a {
  display: block;
  border: 1px solid #e2e2e2;
  background: #fff;
  padding: 1.5rem;
  overflow: hidden;
}
.extra-area .pro-sub-img img {
  vertical-align: middle;
}

.fixed-area div {
  position: fixed;
  z-index: 899;
  bottom: 0;
  margin: 0;
  padding: 0 !important;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.fixed-area div span {
  padding: 0.75rem !important;
}
.fixed-area div span a.btn {
  background: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  border: 2px solid #9fa0a0;
  color: #9fa0a0;
  height: 48px;
  line-height: 42px;
  letter-spacing: 0.25rem;
  text-indent: 0.25rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  margin: 0;
  background: #fff;
  color: #ff9800;
  border-color: #ff9800;
}
.fixed-area div span a.btn i {
  padding-right: 4px;
  font-size: 1.4rem;
}
@media screen and (max-width: 599px) {
  .fixed-area div span a.btn {
    font-size: 1.15rem;
    height: 40px;
    line-height: 34px;
  }
  .fixed-area div span a.btn i {
    font-size: 1.15rem;
  }
}
.fixed-area div span a#tel {
  border-color: #4CAF50;
  color: #4CAF50;
}
.fixed-area div span a#tel:hover {
  background: #4CAF50;
  color: #fff;
}
.fixed-area div span i {
  padding-right: 0.5rem;
}
@media screen and (min-width: 1441px) {
  .fixed-area div span a.btn {
    height: 48px;
    line-height: 42px;
  }
}
